{% extends 'webportal/base_visitor.html' %}
{% block title %}Terms and Conditions{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="container-fluid, topMargin">
    <center>
        <h3 id="EULA" class="topMargin">End-User License Agreement (EULA) for ATRAX Web Portal</h3>
        <h6>This version is current as of September 7, 2017</h6>
        <h6>Please read this End-User License Agreement (“EULA”) carefully before clicking the “I Agree” checkbox and logging into your new account. DO NOT click the checkbox, use the portal and make an account if you do not agree to the terms of this agreement.</h6>
        <h6> <strong>BY USING ATRAX WEB PORTAL AND CLICKING THE “I AGREE” CHECKBOX, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT</strong></h6><h6><strong> AS WELL AS THE TERMS OF ATRAX’ <a href="#PP" >PRIVACY POLICY.</a></strong></h6></strong>
    </center>
    <p class="margin_30"><strong>INTRODUCTION.</strong> This End User License Agreement (“EULA”) is a legal agreement between a) you, the user and b) ATRAX, that governs your use of the web portal, its services and the provided materials contained therein.</p>

    <p class="margin_30"><strong>LICENSE.</strong> ATRAX grants you a revocable, non-exclusive, non-transferable, license to use the web application and use and download its materials solely for personal, educational, non-commercial purposes in accordance with the terms of this agreement, as well as the provisions of R.A. No. 8293 (Intellectual Property Code of the Philippines.)</p>

    <p class="margin_30"><strong>RESTRICTIONS.</strong>  You agree not to, and will not permit others to:

    <ol type="a" class="margin_30">
        <li>
            Sell, rent, lease or commercially exploit the services and materials of the Web Portal in any way. In the case of internal agreements and contracts between authors or owners of a material, ATRAX will not be liable in any legal or contractual shortcomings, infringements and breaches committed by any of these parties.
        </li>
        <li>
            Modify the Web Portal’s code, as well as its services in any way.
        </li>
        <li>
            Use the Web Portal, its services and its materials for malicious or unlawful activities and purposes.
                <p class="padding0">
                    <small>What constitutes a malicious or unlawful activity/ purpose will be determined at our sole discretion.</small>
                </p>
        </li>
        <li>
            Infringe intellectual property rights.
            <p class="padding0">
                <small>ATRAX is not liable for user’s posts, uploaded materials, its content and where, when and how it was taken.</small>
            </p>
        </li>
        <li>
            Transfer your account, share your password or any other activity that could jeopardize your account and/or your Personal Information.
        </li>
    </ol>
    </p>

    <p class="margin_30">
        <strong>MODIFICATION OF WEB PORTAL.</strong> ATRAX reserves the right to modify, suspend or discontinue, temporarily or permanently, the Web Portal or any service to which it connects, with or without notice and without liability to you.
    </p>

    <p class="margin_30">
        <strong>TERM AND TERMINATION.</strong> This Agreement shall remain in effect until terminated by you or ATRAX.
        ATRAX may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.
        This Agreement will terminate immediately, without prior notice from ATRAX, in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting your account.
        ATRAX also reserves the right to drop, discontinue, delete, or suspend materials temporarily or permanently and/or account if any of the restrictions and provisions of this Agreement are found to be breached.
    </p>

    <p class="margin_30">
        <strong>SEVERABILITY.</strong> If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed or interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.
    </p>

    <p class="margin_30">
        <strong>AMENDMENTS TO THIS AGREEMENT.</strong> ATRAX reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material, we will provide at least 30 days’ notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
    </p>

    <p class="margin_30">
        <strong>CONTACT INFORMATION.</strong> If you have any questions about this Agreement, please contact us through email at atraxWebPortal@gmail.com.
    </p>

    <center>
        <h3 id="PP" class="topMargin">ATRAX’ Privacy Policy</h3>
        <h6>This version is current as of September 5, 2017</h6>
    </center>

    <p class="margin_30">
        We operate <a href="{% url 'webportal:index' %}"> ATRAX web portal</a>. This page informs you of our policies in the collection, use and disclosure of Personal Information we receive from users of our Web Portal.
    </p>

    <p class="margin_30">
        We use your Personal Information only for providing and improving ATRAX (the “Site” and “Web Portal”). By using the Web Portal, its materials and its services, you agree to the collection and use of information in accordance with this policy.
    </p>

    <p class="margin_30"><strong>INFORMATION COLLECTION AND USE.</strong> While using our Web Portal, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, address, and email address (“Personal Information”).</p>

    <p class="margin_30"><strong>LOG DATA.</strong> Like many site operators, we collect information that your browser sends whenever you visit our Web Portal (“Log Data”).</p>

    <p class="margin_30">This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type, browser version and the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

    <p class="margin_30">In addition, we may use third party services such as Google Analytics that collect, monitor and analyze these data.</p>

    <p class="margin_30"><strong>COMMUNICATIONS.</strong> We may use your Personal Information to contact you with information that enables you to track the materials that you and other users have submitted to the Web Portal, as well as notifications and warnings in matters connected to your materials, your user account and important information that could affect the Site’s reliability and efficiency.</p>

    <p class="margin_30">If we make any material changes to the Web Portal and its services, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website. What constitutes a material change will be determined at our sole discretion.</p>

    <p class="margin_30">Your contact information (such as your email address) can also be viewed by different ATRAX users for communication purposes.</p>

    <p class="margin_30"><strong>SECURITY.</strong> The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

    <p class="margin_30"><strong>CHANGES TO THIS PRIVACY POLICY.</strong> This Privacy Policy is effective as of September 5, 2017 and will remain in effect except with respect to any changes in its provisions in the future which will be in effect immediately after being posted on this page.</p>

    <p class="margin_30">We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Web Portal, its materials and its services after we post any modifications to the Privacy Policy on this page will constitute your acknowledgement of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>

    <p class="margin_30">If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website. What constitutes a material change will be determined at our sole discretion.</p>

    <p class="margin_30"><strong>CONTACT US.</strong> If you have any questions about this Privacy Policy, please contact us through email at <a class="link" href="">atraxWebPortal@gmail.com</a>.</p>

    <center>
        <a href="{% url 'webportal:register'%}"><button class="btn btn-success, button_color" style="margin:30px;">I Disagree</button></a>
     <button type="submit" class="btn btn-success, button_color" style="margin:30px;">I Agree</button>
    </center>
</div>
</div>
    {% endblock %}